# =====================================================================================================
# S3
# =====================================================================================================
S3_ACCESS_KEY="dev"
S3_SECRET_KEY="dev-secret-key"
S3_BUCKET_NAME="dam-dev"

# =====================================================================================================
# Keycloack
# =====================================================================================================
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin-dev-password

KEYCLOAK_DB_PASSWORD=keycloak-db-dev-password

KEYCLOAK_ISSUER_URL=http://localhost:8081/realms/tiu-media-hub
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/tiu-media-hub/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=tiu-media-hub-api

KEYCLOAK_CLIENT_ID=""
KEYCLOAK_CLIENT_SECRET=""
